/********************************/
/*           Services           */
/********************************/

#services .card:hover {
  border: #db8523 solid 0.1px;
}

/* General Flex Container Styles */
.cards {
  display: flex;
  justify-content: center;
}

/* Card Styles */
.card {
  margin-bottom: 20px; /* Space between rows */
}

/* For small devices (phones) */
@media (max-width: 576px) {
  .card {
    width: 100%; /* Full width for small devices */
  }
}

/* For medium devices (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
  .card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

/* For large devices (desktops) */
@media (min-width: 993px) and (max-width: 100%) {
  .card {
    width: calc(43 - 10px); /* Three cards per row */
  }
}
