.container-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.map-window {
  position: relative;
  width: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  max-width: 100%;
}

.area {
  gap: 20px;
  width: auto;
}

.seat-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.seats-left,
.seats-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  background-color: #e7f0fd;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
}

.bottom-area {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  width: 100%;
}

.lobby,
.counter {
  padding: 20px 66px;
  background: #e0e0e0;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0px;
}

.lobby2 {
  padding: 20px 20px;
  background: #e0e0e0;
  text-align: center;
  border-radius: 5px;
  transform: rotate(90deg);
  margin-left: 51px;
}

.stairs {
  position: absolute;
  left: 190px;
  top: 106px;
  background-color: #e0e0e0;
  padding: 130px 92px;
  border-radius: 5px;
}

.middle-left-top,
.middle-left-bottom {
  display: flex;
  gap: 10px;
}

.middle-area {
  margin: 20px 10px;
  margin-left: 144px;
  gap: 10px;
}

.middle-area-2 {
  margin: 20px 10px;
  margin-left: 84px;
  gap: 10px;
}
.middle-area-3 {
  margin: 20px 10px;
  margin-left: 0px;
  gap: 10px;
}
