.container-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.map-window {
  max-height: 90vh;
  height: 80%;
  width: 80%;
  max-width: 80vw;
  background-color: white;
  border: 1px solid gray;
  z-index: 1000;
  overflow: auto;
  position: relative;
}

.seating-area {
  position: relative;
  width: 90%;
  height: 70%; 
  border: 1px dashed #ccc;
  margin: 10px 0;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-gap: 10px;
  justify-items: center;
}

.area {
  width: 64px;
  height: 34px;
  background-color: #e9e9e9;
  border-radius: 3px;
  text-align: center;
  line-height: 34px;
}

.lobby, .counter {
  width: 120px;
  height: 80px;
  background-color: #ccc;
  text-align: center;
  line-height: 80px;
  grid-column: span 2; /* Span across both columns */
}
